.video-mars {
    min-width: 70%;
}

.text-mars {
    max-width: 30%
}

@media (max-width: 1000px) {
    .text-mars {
        min-width: 100%
    }
    .video-mars {
        min-width: 100%;
    }
}

.card-body {
    background-color: #ff9b00;
}

p {
    text-align: justify;
}


/* Countdown Clock*/

body {
    text-align: center;
    font-weight: 100;
}

.countdown-title {
    color: rgb(245, 250, 248);
    font-size: 40px;
    margin: 20px 20px 20px;
}

.countdown {
    color: #fff;
    display: inline-block;
    font-size: 30px;
}

.countdown-number {
    padding: 10px;
    border-radius: 10px;
    background: #ff9b00;
    display: inline-block;
    margin: 20px;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #1c315e;
    display: inline-block;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
}


/* Form Contact*/

body {
    background-color: #25274d;
}

.contact {
    padding: 16px;
    height: 400px;
}

.col-md-3 {
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 30%;
}

.contact-form button:focus {
    box-shadow: none;
}